:root {
  --background: #121212;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #121212 !important;
}

.container .row.cards-row {
  justify-content: space-evenly;
  align-items: center;
}

.modal a {
    text-decoration: none;
}