@media (width < 540px) {
    .container.cards .cards-row {
        display: none;
    }
}

@media (min-width: 540px) {
    .container.cards .carousel.slide {
        display: none;
    }
}

.container.cards h1 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}