.cards {
    padding: 80px 0;
    position: relative;
    background-color: var(--background);
  }
  .cards h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: white;
  }
  .cards p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
  }
  
  @media (max-width: 500px) {
    .cards p.section-description {
      display: none;
    }
  }
  
  .cards .nav.nav-pills {
    width: 72%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
  }
  .cards .nav.nav-pills .nav-item {
    width: 33.33333%;
    text-overflow: hidden;
  }
  .cards .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: #fff;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
  }
  .cards .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .cards .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
  }
  .cards .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
  }
  .nav-link#first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 55px 0px 0px 55px;
  }
  .nav-link#second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#third {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 55px 55px 0;
  }

@media (width < 540px) {
  .container.cards .cards-row {
    display: none;
  }
}

@media (min-width: 540px) {
  .container.cards .carousel.slide {
    display: none;
  }
}

.container.cards .carousel.slide .carousel-inner .carousel-item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 3vw;
}

.container.cards h1 {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 45px;
}

.container.cards .carousel a span {
  background-color: rgba(33, 37, 41, 1);
}
