footer {
  margin-top: 5rem;
}

footer .container .wrapper {
  border-top: 1px solid white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer .container .wrapper .footer-row {
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .container .wrapper .footer-row .socials ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: left;
}

footer .container .wrapper .footer-row .socials ul li {
    display: inline;
}

@media (width >= 768px) and (width <= 991px){
  footer .container .wrapper .footer-row .socials ul {
    display: inline;
  }
}
